<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="http://localhost:8080" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="http://localhost:8080" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec" onclick="getToCart(event)">iStore</a>
            {{#if userInfo}}
                        <p><a class="btn-dec" href="/auth/change-rol-user">Hi {{userInfo.first_name}}!</a></p>
                        <a id="deslog" href="/api/auth/logout" class="btn-dec">Logout</a>
                        <p>|</p>
                        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12.45" viewBox="0 0 448 512"><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg></svg></a>
                    {{else}}
                        <a href="/auth/login-view" class="btn-dec">Login</a>
                        <a href="/auth/register-view" class="btn-dec">Register</a>
                    {{/if}}
            </div>

        </div>
    </nav>
    </div>
</header>

<main>
    <div class="container">

        <div class="container-etiq-a-prem">
            <a href="/productaccesspremium">Sell your products on the iStore!</a>
        </div>

        <div class="container-change-rol">

        <h1>Change your role to get more access!</h1>

        <p>To change your role from "user" to "premium," you must upload 3 documents in txt format with the following exact names:</p>
        <ul>
            <li>Identificacion</li>
            <li>Comprobante de domicilio</li>
            <li>Comprobante de estado de cuenta</li>
        </ul>

            

        <div id="currentRole">
            <p>You currently have user access: <strong>{{userInfo.role}}</strong></p>
        </div>

        <form class="form-uploaddoc" id="changeRoleForm">
            <label for="role">Change role to:</label>
            <select name="role" id="newRole" required>
                <option value="usuario">User</option>
                <option value="premium">Premium</option>
            </select>
            <input type="submit" value="Update">
        </form>

        <div id="messages">
                {{#if error_msg}}
                    <div style="color: red; font-size: 12px">{{error_msg}}</div>
                {{/if}}
                {{#if success_msg}}
                    <div style="color: green; font-size: 12px">{{success_msg}}</div>
                {{/if}}
            </div>

        <hr>
        
        <h2>Upload documents 🗎</h2>
        <form class="form-subir-arch" id="uploadDocumentsForm" enctype="multipart/form-data">
            <label for="profile">Upload avatar photo:</label>
            <input class="inputs-form-arch" type="file" name="profiles" id="profiles" >
            <br>
            <label for="product">Upload product photo:</label>
            <input class="inputs-form-arch" type="file" name="products" id="products" >
            <br>
            <label for="documents">Upload documents:</label>
            <input class="inputs-form-arch" type="file" name="documents" id="documents" multiple >
            <br>
            <input class="inputs-form-arch-button" type="submit" value="Upload file">
        </form>

        </div>

    </div>


    <script>

        document.getElementById('changeRoleForm').addEventListener('submit', function(event) {
            event.preventDefault(); 
            
            const newRole = document.getElementById('newRole').value;
            
            // Enviar la solicitud POST al servidor
            fetch(`/api/auth/users/premium/{{userInfo._id}}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ role: newRole })
            })
            .then(response => response.json())
            .then(data => {
                
                const messagesElement = document.getElementById('messages');
                const currentRoleElement = document.getElementById('currentRole');
                
                if (data.message) {
                    if (data.message.includes('cambiado a')) {
                        messagesElement.innerHTML = `<div style="color: green; font-size: 12px">${data.message}</div>`;
                    } else {
                        messagesElement.innerHTML = `<div style="color: red; font-size: 12px">${data.message}</div>`;
                    }
                    currentRoleElement.innerHTML = `<p>You currently have user access: <strong>${data.userInfo.role}</strong></p>`;
                } else {
                    messagesElement.innerHTML = `<div style="color: red; font-size: 12px">Error al cambiar el rol del usuario</div>`;
                }
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('messages').innerHTML = `<div style="color: red; font-size: 12px">Error al cambiar el rol del usuario</div>`;
            });
        });


        //script upload documents:

        document.getElementById('uploadDocumentsForm').addEventListener('submit', function(event) {
        event.preventDefault();

        const formData = new FormData(this);

        fetch(`/api/auth/users/{{userInfo._id}}/documents`, {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            Swal.fire({
                    icon: 'success',
                    title: 'Document Uploaded',
                    text: data.message,
                    showConfirmButton: false,
                    timer: 2000 
                });
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });


    async function getToCart(event) {
    event.preventDefault();
    try {
        let cartId = localStorage.getItem("cartId");
        
        if (!cartId) {
            const response = await fetch(`/api/cart/`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                }
            });
            const data = await response.json();
            localStorage.setItem("cartId", data._id);
            cartId = data._id;
        }
        
        window.location.href = "/productsview";
    } catch (error) {
        console.error(error);
    }
}
    </script>
</main>