<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            {{#if userInfo}}
                        {{#if isAdminUser}}
                            <a href="/productsaccesadmin" class="btn-dec">Admin Dashboard</a>
                        {{/if}}

                        <p><a href="/auth/change-rol-user" class="btn-dec">Hi {{userInfo.first_name}}!</a></p>
                        <a id="deslog" href="/api/auth/logout" class="btn-dec">Logout</a>
                    {{else}}
                        <a href="/auth/login-view" class="btn-dec">Login</a>
                        <a href="/auth/register-view" class="btn-dec">Register</a>
                    {{/if}}
            </div>

        </div>
    </nav>
    </div>
</header>

<div class="container">

    <h2 class="title-adm-prod">Add product to iStore with "Admin" access</h2>
    <hr>
    <div class="form-contenedor-prodsadmin">
    <form id="admin-add-product-form" class="form">
        <p>Product dates:</p>
        
        <div class="input-container">
            <input  type="text" name="title" placeholder="Product name" >
        </div>

        <div class="input-container">
            <input type="text" name="description" placeholder="Product description" >
        </div>

        <div class="input-container">
            <input type="text" name="thumbnail" placeholder="Url Thumbnail" >
        </div>

        <div class="input-container">
            <input type="number" name="price" placeholder="Price" >
        </div>

        <div class="input-container">
            <input type="text" name="category" placeholder="Category (Celulares)" >
        </div>
    
        <div class="input-container">
            <input type="number" name="stock" placeholder="Stock" >
        </div>
            
            <input id="button-aut-send" type="submit" value="Add to iStore" class="submit">
        </input>
        </form>

        <div class="container-dlt-rprod-form">
        <h2 class="title-form-dlt-prod-adm">Delete Product</h2>
        <form id="admin-delete-product-form">
            <div class="admin-input-container">
                <input type="text" id="admin-delete-product-id" placeholder="Product ID">
            
                <input id="admin-delete-product-button" type="submit" value="Delete Product" class="admin-submit-button">
            </div>
        </form>
        </div>
    </div>


    <div class="container-users-table">
        <h2>Users:</h2>
    </div>

    <hr>

    <table class="admin-user-table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{this.first_name}}</td>
                <td>{{this.last_name}}</td>
                <td>{{this.email}}</td>
                <td>{{this.role}}</td>
                <td>
                    <button class="delete-user-btn" data-user-id="{{this._id}}">Delete</button>
                    <button class="change-role-btn" data-user-id="{{this._id}}" data-user-role="{{this.role}}">Change Role</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <div class="option-clean-user">
        <h3>Eliminate those accounts that have been inactive for more than 2 days</h3>
        <button id="clean-users-btn" class="clean-users-button">Clean Users</button>
    </div>
</div>

<script>
    
    document.getElementById('admin-add-product-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        
        const form = event.target;
        const formData = new FormData(form);
        const data = Object.fromEntries(formData.entries());
        
        try {
            const response = await fetch('/api/products/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            
            const result = await response.json();
            
            if (response.status === 201) {
                Swal.fire({
                    icon: 'success',
                    title: 'Product Created!',
                    text: 'Product has been created successfully.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    form.reset(); 
                });
            } else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Error creating product: ' + (result.message || 'Unknown error')
                });
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Error creating product: ' + error.message
            });
        }
    });

    //Eliminacion de usuario
    document.querySelectorAll('.delete-user-btn').forEach(button => {
        button.addEventListener('click', async (event) => {
            const userId = event.target.getAttribute('data-user-id');

            const confirmation = await Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            });

            if (confirmation.isConfirmed) {
                try {
                    const response = await fetch(`/api/auth/users/${userId}`, {
                        method: 'DELETE'
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    const result = await response.json();

                    if (result.success) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Error deleting user: ' + (result.message || 'Unknown error')
                        });
                    } else {
                        Swal.fire({
                            icon: 'success',
                            title: 'Deleted!',
                            text: 'User has been deleted successfully.',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.reload();
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Error deleting user: ' + error.message
                    });
                }
            }
        });
    });

//Cambiar el rol de los usuarios
document.querySelectorAll('.change-role-btn').forEach(button => {
        button.addEventListener('click', async (event) => {
            const userId = event.target.getAttribute('data-user-id');
            const currentRole = event.target.getAttribute('data-user-role');
            const newRole = currentRole === 'usuario' ? 'premium' : 'usuario';

            const confirmation = await Swal.fire({
                title: 'Are you sure?',
                text: `You are about to change the role to ${newRole}.`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, change it!'
            });

            if (confirmation.isConfirmed) {
                try {
                    const response = await fetch(`/api/auth/users/admin/${userId}`, {
                        method: 'POST'
                    });

                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }

                    const result = await response.json();

                    if (result.message) {
                        Swal.fire({
                            icon: 'success',
                            title: 'Role Changed!',
                            text: `User role has been changed to ${newRole}.`,
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            window.location.reload();
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error!',
                            text: 'Error changing role: ' + (result.message || 'Unknown error')
                        });
                    }
                } catch (error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Error changing role: ' + error.message
                    });
                }
            }
        });
    });

    //Eliminacion de usuarios inactivos 
    document.getElementById('clean-users-btn').addEventListener('click', async () => {
        try {
            const response = await fetch('/api/auth/users-inactivity', {
                method: 'DELETE'
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            const result = await response.json();

            if (result.success) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'Error cleaning users: ' + (result.message || 'Unknown error')
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Users Cleaned!',
                    text: 'Inactive users have been deleted successfully.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.reload();
                });
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Error cleaning users: ' + error.message
            });
        }
    });

// Eliminar producto por ID
    document.getElementById('admin-delete-product-form').addEventListener('submit', async (event) => {
        event.preventDefault();
        const productId = document.getElementById('admin-delete-product-id').value;

        if (productId.trim() === '') {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Product ID cannot be empty.'
            });
            return;
        }

        const confirmation = await Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        });

        if (confirmation.isConfirmed) {
            try {
                const response = await fetch(`/api/products/${productId}`, {
                    method: 'DELETE'
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                if (response.status === 204) {
                Swal.fire({
                    icon: 'success',
                    title: 'Deleted!',
                    text: 'Product has been deleted successfully.',
                    showConfirmButton: false,
                    timer: 1500
                }).then(() => {
                    window.location.reload();
                });
            } else {
                const result = await response.json();

                if (result.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Deleted!',
                        text: 'Product has been deleted successfully.',
                        showConfirmButton: false,
                        timer: 1500
                    }).then(() => {
                        window.location.reload();
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error!',
                        text: 'Error deleting product: ' + (result.message || 'Unknown error')
                    });
                }
            }
        } catch (error) {
            Swal.fire({
                icon: 'error',
                title: 'Error!',
                text: 'Error deleting product: ' + error.message
            });
        }
    }
});

</script>