<header>
    <div class="container">
    <nav class="navbar bg-body-tertiary p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="http://localhost:8080" class="navbar-brand">IPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="http://localhost:8080">Inicio</a>
            <a href="/productsview">Productos</a>
            <a href="/auth/login-view"> Login</a>
            <a href="/auth/register-view">Register</a>
            <a id="deslog" href="/api/auth/logout">Logout</a>
            </div>

        </div>
    </nav>
    </div>
</header>


    <div class="container">

    <div class="img_portada">
    </div>

<div class="card-flex">
{{#each products.payload}}
<div class="card" style="width: 18rem;">
    <img src={{this.thumbnail}} class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-subtitle">USD {{this.price}}</p>
            <p class="card-text">{{this.description}}</p>
            <div class="d-flex justify-content-center">
                <button onclick="addToCart('{{this._id}}')" class="button_compra" style="width: 90%;">Add to Cart</button>
            </div>
    </div>
</div>
{{/each}}
</div>

{{#if products.hasNextPage}}
<div>
    <a href="{{products.nextLink}}">Siguiente</a>
</div>
{{/if}}

{{#if products.hasPrevPage}}
<div>
    <a href="{{products.prevLink}}">Anterior</a>
</div>
{{/if}}

</div>

<script>
async function addToCart(productId) {
    try {
    let cartId = localStorage.getItem("cartId");
    
    if (!cartId) {
        const response = await fetch("/api/cart/", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        }
    });
        const data = await response.json();
        localStorage.setItem("cartId", data._id);
        cartId = data._id;
    }

    const response = await fetch(`/api/cart/${cartId}/product/${productId}`, {
        method: "POST",
        headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        quantity: 1 
    })
    });

    if (!response.ok) {
        throw new Error("No se pudo agregar producto al Carrito");
    }

    const responseData = await response.json();
    console.log("Producto agregado con exito al carrito:", responseData);

    Toastify({

        text: `Producto agregado al carrito`,
        
        duration: 2200,
        gravity: "bottom",
        style: {
            background: "rgb(22,22,22)",
            background: "radial-gradient(circle, rgba(22,22,22,1) 18%, rgba(8,8,8,1) 86%)",
        },
        
        }).showToast();

    } catch (error) {
    console.error(error);
    }
}

document.getElementById('deslog').addEventListener('click',logout)
    function logout() {
        localStorage.removeItem('cartId');
    }
</script>

