<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="/" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="/" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            {{#if userInfo}}
                        {{#if isAdminUser}}
                            <a href="/productsaccesadmin" class="btn-dec">Admin</a>
                        {{/if}}

                        <p><a href="/auth/change-rol-user" class="btn-dec">Hi {{userInfo.first_name}}!</a></p>
                        <a id="deslog" href="/api/auth/logout" class="btn-dec">Log Out</a>
                        <p>|</p>
                        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12.45" viewBox="0 0 448 512"><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg></svg></a>
                    {{else}}
                        <a href="/auth/login-view" class="btn-dec">Sign In</a>
                        <a href="/auth/register-view" class="btn-dec">Sign Up</a>
                    {{/if}}
            </div>

        </div>
    </nav>
    </div>
</header>

<main>

    <div class="container">
    
    
    
    <div class="container-product-principal">

        <div class="enlace-prod-specif">
        <a href="/">Home</a>
        <p>/</p>
        <a href="/productsview">iStore</a>
        <p>/</p>
        <a href="/productsview/{{product._id}}">{{product.title}}</a>
    </div>
        
        <div class="contianer-prod-countain">
            
            <div class="img-cont-prod">
                <img src={{product.thumbnail}} alt="">
            </div>

            <div class="info-content-prod">
                <h3>{{product.title}}</h3>
                <h4>{{product.description}}</h4>
                <hr>
                <p>{{product.code}}</p>
                <h5>$ {{product.price}}</h5>
                <span><i class="fa-solid fa-truck fa-2xs" style="color: #63ad6f;"></i>Free shipping throughout the country</span>
                <h6>Payment methods:</h6>
                    <div class="tarjt-containers">
                        <img class="img-tarjets" src="/img/mastercard.png" alt="">
                        <img class="img-tarjets" src="/img/visa.png" alt="">
                        <img class="img-tarjets" src="/img/americanxpress.png" alt="">
                        <img class="img-tarjets" src="/img/paypal.png" alt="">
                    </div>
                
                <h7>Sold by: {{product.owner}}</h7>
                <hr>
                <button onclick="addToCart('{{product._id}}')">Add to Cart</button>
            </div>

        </div>

    </div>
    </div>
</main>

<footer>
</footer>

<script>

    //Funcion agregar al carrito
async function addToCart(productId) {
try {
let cartId = localStorage.getItem("cartId");

if (!cartId) {
const response = await fetch("/api/cart/", {
method: "POST",
headers: {
    "Content-Type": "application/json"
}
});
const data = await response.json();
localStorage.setItem("cartId", data._id);
cartId = data._id;
}

const response = await fetch(`/api/cart/${cartId}/product/${productId}`, {
method: "POST",
headers: {
"Content-Type": "application/json"
},
body: JSON.stringify({
quantity: 1 
})
});

if (!response.ok) {
const errorData = await response.json();
            if (response.status === 403) {
                Toastify({
                    text: errorData.message,
                    duration: 2200,
                    gravity: "bottom",
                    style: {
                        background: "#E54242",
                    },
                }).showToast();
            } else {
                throw new Error(errorData.message || "No se pudo agregar producto al Carrito");
            }
            return;
}

const responseData = await response.json();

Toastify({

text: `Product added to cart`,

duration: 2200,
gravity: "bottom",
style: {
    background: "rgb(22,22,22)",
    background: "radial-gradient(circle, rgba(22,22,22,1) 18%, rgba(8,8,8,1) 86%)",
},

}).showToast();

} catch (error) {
console.error(error);
}
}


    //Funcion logout para boton Logout
    document.getElementById('deslog').addEventListener('click',logout)
    function logout() {
        localStorage.removeItem('cartId');
    }
</script>