<header>
    <div class="container">
    <nav class="navbar p-5 mt-2">
        <div class="container-navbar">
            <div class="marca-nav">
                <a href="http://localhost:8080" class="navbar-brand">iPhone Store</a>
            </div>
            

            <div class="header-a">
            <a href="http://localhost:8080" class="btn-dec">Home</a>
            <a href="/productsview" class="btn-dec">iStore</a>
            {{#if userInfo}}
                        <p>Hi {{userInfo.first_name}}!</p>
                        <a id="deslog" href="/api/auth/logout" class="btn-dec">Logout</a>
                        <p>|</p>
                        <a href="/cart"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12.45" viewBox="0 0 448 512"><path d="M160 112c0-35.3 28.7-64 64-64s64 28.7 64 64v48H160V112zm-48 48H48c-26.5 0-48 21.5-48 48V416c0 53 43 96 96 96H352c53 0 96-43 96-96V208c0-26.5-21.5-48-48-48H336V112C336 50.1 285.9 0 224 0S112 50.1 112 112v48zm24 48a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm152 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/></svg></svg></a>
                    {{else}}
                        <a href="/auth/login-view" class="btn-dec">Login</a>
                        <a href="/auth/register-view" class="btn-dec">Register</a>
                    {{/if}}
            </div>

        </div>
    </nav>
    </div>
</header>

<div class="container">
    <h1>Ticket de compre de {{userInfo.first_name}}</h1>
    <h2>Codigo de Ticket: {{ticket.code}}</h2>
</div>


<div class="ticket">
    <h1>Detalles del Ticket</h1>
    {{#if ticket}}
    <ul>
        <li><strong>Código:</strong> {{ticket.code}}</li>
        <li><strong>Total:</strong> $ {{ticket.amount}}</li>
        <li><strong>Comprador:</strong> {{ticket.purchaser}}</li>
        <li><strong>Fecha de Compra:</strong> {{ticket.purchase_datetime}}</li>
    </ul>
    {{else}}
    <p>No se encontró el ticket</p>
    {{/if}}
    {{#if error}}
    <p>Error: {{error}}</p>
    {{/if}}
    <a href="/productsview">Return to iStore</a>
</div>