<h1>Ticket de compre de {{userInfo.first_name}}</h1>
<h2>Codigo de Ticket: {{ticket.code}}</h2>

<div class="ticket">
    <div class="card" style="width: 18rem;">
        <p class="card-hora">Hora de compra: {{ticket.purchase_datetime}}</p>
        <p class="card-total">Total: ${{ticket.amount}}</p>
        <p class="card-email">Email: {{ticket.purchaser}}</p>
    </div>
</div>

<form action= "/api/cart/66567d51320fd6acaf2aac56/purchase" method="post" class="form">

    <input id="button-aut-send" type="submit" value="Cargar ticket" class="submit">
        </input>

</form>



{{!-- <div class="products">
    {{#each array}}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.product.title}}</h5>
                <p class="card-text">Descripción: {{this.product.description}}</p>
                <p class="card-category">Categoría: {{this.product.category}}</p>
                <p class="card-price">Precio por unidad: ${{this.product.price}}</p>
                <p class="card-category">Cantidad: {{this.quantity}}</p>
                <p class="card-price">Precio total: ${{this.priceTot}}</p>
            </div>
        </div>
    {{/each}}
</div> --}}